@model projekt_7_1_vj.Models.Osoba

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProvjeriOsobu</title>
</head>
<body>
    <h3>Osoba je uspjesno unesena!</h3>
    <div> 
        <ul>
            <li>Ime : @Model.Ime</li>
            <li>Prezime : @Model.Ime</li>
            <li>Datum : @Model.Ime</li>
            <li>Mobitel : @Model.Ime</li>
        </ul>
    </div>
</body>
</html>
