
@{
    ViewBag.Title = "PopisKosarice";
}

<h2>PopisKosarice</h2>
<table>
    <tr>
        <td>Naziv</td>
        <td>Cijena</td>
    </tr>
    <tr>
        <td>Banana</td>
        <td>10.00 kn</td>
    </tr>
    <tr>
        <td>Naranda</td>
        <td>21.00 kn</td>
    </tr>
    <tr>
        <td>Mandarina</td>
        <td>6.00 kn</td>
    </tr>
    <tr>
        <td>Kruska</td>
        <td>17.00 kn</td>
    </tr>
</table>
